#centercardplace{
    width: 80px;
    height: 120px;
    display: flex;
    justify-content: center;
    fill: aqua;
    background-image:url(table.png);
}

#rulespage{
    font-size: smaller;
    float: left;
}
#cardhand{
display: flex;
 position: fixed;
  width: 100%;
  background-color: #f60606;
  padding: 20px;
  text-align: center;
  z-index: 100%
}

#cardhand img{
    width: 30px;
    height: 30px;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#title{
font-family: Arial, Helvetica, sans-serif; 
padding: 16px 32px;
margin: 4px 2px;
text-align: center;
}