#centercardplace{
    width: 80px;
    height: 120px;
    display: flex;
    justify-content: center;
    fill: aqua;
    background-image:url(table.png);
}

#rulespage{
    font-size: smaller;
    float: left;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#title{
font-family: Arial, Helvetica, sans-serif; 
font-size: xx-large;
padding: 16px 32px;
margin: 4px 2px;
text-align: center;
}

#main{
	background-image: url(../images/table.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
}

.card {
	height: 75%;
	width: auto;
	background-color: black;
	padding: 5px;
}

.selectedCard {
	background-color: red;
	height: 75%;
	width: auto;
	padding: 5px;
}

#cardhand{
	display: inline-block;
	padding: 20px;
	width: 90%;
	height: 20%;
	text-align: center;
	position: absolute;
	top: 60%;
	left: 5%;
	
	
}

#screen {
	width: 100%;
	height: 100%;
}
#rulesButton{
 margin: 0;
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);

} 
#startButton{
 margin: 0;
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  
} 
#title{
background-image: url();	
}
