#background img{
		width: 400px;
		height: 600px;
		display: flex;
        justify-content: center;
	}
#centercardplace{
    width: 80px;
    height: 120px;
    display: flex;
    justify-content: center;
    fill: aqua;
}

#rulespage{
    font-size: smaller;
    float: left;
}
#card{
    width: 80px;
    height: 120px;
}
#cardhand{
 position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f60606;
  padding: 100px;
  text-align: center;
  z-index: 1000;

}