#centercardplace{
    width: 80px;
    height: 120px;
    display: flex;
    justify-content: center;
    fill: aqua;
    background-image:url(table.png);
}

#rulespage{
    font-size: smaller;
    float: left;
}
#card{
    width: 80px;
    height: 120px;
}
#cardhand{
 position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f60606;
  padding: 100px;
  text-align: center;
  z-index: 1000;
}
input[type=GAME],[type=RULES] {
background-color: blueviolet;
color: aquamarine;
size: 200px; 
font-size: xx-large;    
cursor: crosshair;
text-align: center;
}
#title{
font-family: Arial, Helvetica, sans-serif; 
padding: 16px 32px;
margin: 4px 2px;
text-align: center;
}