#centercardplace{
    width: 80px;
    height: 120px;
    display: flex;
    justify-content: center;
    fill: aqua;
}

#rulespage{
    font-size: smaller;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#title{
font-family: Arial, Helvetica, sans-serif; 
font-size: xx-large;
padding: 16px 32px;
margin: 4px 2px;
text-align: center;
color: aliceblue;
}

#main{
	background-image: url(../images/table.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;

}

.card {
	height: 75%;
	width: auto;
	background-color: black;
	padding: 5px;
}

.selectedCard {
	background-color: red;
	height: 75%;
	width: auto;
	padding: 5px;
}

#cardhand{
	display: inline-block;
	padding: 20px;
	width: 90%;
	height: 20%;
	text-align: center;
	position: absolute;
	top: 60%;
	left: 5%;
	
	
}

#screen {
	width: 100%;
	height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
#rulesButton{
 margin: 0;
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);

} 
#startButton{
 margin: 0;
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  
} 
#startscreen{
	background-image: url(../images/city_background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#sideinfo{ 
  float: left;
  font-family: Arial, Helvetica, sans-serif;  
}

#playButton{
 margin: 0;
  position: absolute;
  top: 85%;
  left: 56%;
  transform: translate(-50%, -50%);

} 
#skipButton{
 margin: 0;
  position: absolute;
  top: 85%;
  left: 46%;
  transform: translate(-50%, -50%);
} 
#endscreen{
	background-image: url(../images/chart.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;  
}
#resultstitle{
text-align: center;
color: aliceblue;  
font-size: x-large;
font-family: Arial, Helvetica, sans-serif;
}
#resultplayer{
float: left;
padding: 125px;
color: aliceblue;
font-family: Arial, Helvetica, sans-serif;
}
#resultbot1{
float: left;
padding: 125px;
color: aliceblue;
font-family: Arial, Helvetica, sans-serif;
}
#resultbot2{
float: left;
padding: 125px;
color: aliceblue;
font-family: Arial, Helvetica, sans-serif;
}
#resultbot3{
float: left;
padding: 125px;
color: aliceblue;
font-family: Arial, Helvetica, sans-serif;
}
#turncounter{
position: absolute;
top: 85%;
left: 70%;
transform: translate(-50%, -50%);
color: aliceblue;
font-family: Arial, Helvetica, sans-serif;
} 
#skipcounter{
position: absolute;
top: 85%;
left: 80%;
transform: translate(-50%, -50%);
color: aliceblue;
font-family: Arial, Helvetica, sans-serif;
}
#roundcounter{
position: absolute;
top: 95%;
left: 75%;
transform: translate(-50%, -50%);
color: aliceblue;
font-family: Arial, Helvetica, sans-serif;
}